{% extends 'index' %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-4 col-md-offset-4">

			{% if old('errors') %}
				<div class="alert alert-danger" role="alert">
					<ul>
						{% for error in old('errors') %}
							<li>{{ error.message }}</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}

			<div class="panel panel-default">
				<div class="panel-heading">Create New Ticket</div>
				<div class="panel-body">

					<form data-toggle="validator" class="form-horizontal" role="form" method="POST" action="/create/ticket/{{p_id}}">
						{{ csrfField }}
						<div class="form-group has-feedback">
							<label for="ticketName">Ticket Name</label>
							<input required data-minlength="5" type="text" class="form-control" id="ticketName" name="ticketName" value="{{old('ticketName')}}">
							<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
							<div class="help-block with-errors"></div>
						</div>
						<div class="form-group has-feedback">
							<label for="desc">Description</label>
							<textarea required data-minlength="50" name="desc" id="desc" class="form-control" rows="3">{{old('desc')}}</textarea>
							<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
							<div class="help-block with-errors"></div>
						</div>
						<button type="submit" class="btn btn-primary">Create</button>
					</form>

				</div>
			</div>

		</div>
	</div>

{% endblock %}
