{% extends 'index' %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-md-offset-1">

      <div class="panel panel-default">
			  <div class="panel-heading">
          {{project.name}}
          <div class="pull-right">
          {%if logged_in%}
          <form class="" action="/create/ticket/{{project.id}}" method="get">
            <button type="submit" class="btn btn-primary">New Ticket</button>
          </form>
          {%endif%}
          {%if owner%}
          <form class="" action="/update/project/{{project.id}}" method="get">
            <button type="submit" class="btn btn-primary">Edit</button>
          </form>
          {%endif%}
          </div>
        </div>
			  <div class="panel-body">
					{{project.desc}}
  				</ul>
			  </div>
			</div>

      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Tickets</div>
        <!-- List group -->
        <ul class="list-group">
          {% for ticket in tickets%}
            <a href="/ticket/{{ticket.id}}"><li class="list-group-item">{{ticket.name}}</li></a>
          {%endfor%}
        </ul>
      </div>


		</div>

        <div class="col-md-4">
              <div class="panel panel-default">
          <div class="panel-heading">Project Info
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <td>Owner</td>
                    <td><a href="/profile/{{owner_data.id}}">{{owner_data.username}}</a></td>
                  </tr>
                  <tr>
                    <td>Created</td>
                    <td>{{project.created_at}}</td>
                  </tr>
                  <tr>
                    <td>Modified</td>
                    <td>{{project.updated_at}}</td>
                  </tr>
                  <tr>
                      <td>
                          Staffs
                      </td>
                      <td>
                          {% for staff in staffs %}
                            <a href="/profile/{{staff.id}}">{{staff.username}}</a>
                          {% endfor %}
                      </td>
                  </tr>
                </tbody>
               </table>
          </div>
        </div>
        </div>

</div>

{% endblock %}
