{% extends 'index' %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div class="panel panel-default">
			  <div class="panel-heading">
          {{ticket.name}}
        </div>
			  <div class="panel-body">
					{{ticket.desc}}
  				</ul>
			  </div>
			</div>

      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Comments</div>
        <!-- List group -->
        <div class="panel-body">
          <div class="col-md-10 col-md-offset-1">
            {% for comment in comments%}
            <div class="panel panel-default">
              <div class="panel-heading">{{comment.owner_id}}</div>
              <div class="panel-body">
                {{comment.message}}
              </div>
            </div>
            {%endfor%}
          </div>
        </div>
      </div>
			{%if logged%}
			<div class="panel panel-success">
				<div class="panel-heading">New Comment</div>
				<div class="panel-body">
					{% if comment_errors%}
						<div class="alert alert-danger" role="alert">{{comment_errors.message}}</div>
					{%endif%}

				<form class="" action="/comment/add" method="post">
					{{ csrfField }}
					<input type="hidden" name="ticket_id" value="{{ticket.id}}">
					<textarea class="form-control" name="message" rows="3"></textarea>
					<button type="submit" class="btn btn-success">Send</button>
				</form>
			</div>
			</div>
			{%endif%}

		</div>
</div>

{% endblock %}
